# raw data
DATA_DIR=""

DATA_AUDIO=""
DATA_DOCX=""
DATA_HTML=""
DATA_IMAGE=""
DATA_JSON_NB=""
DATA_PDF=""
DATA_TXT_MD=""
DATA_WIKI=""
DATA_QMS=""

# other folder_paths
LOG_DIR=""
PROMPT_DIR=""
REPORT_DIR=""
CONFIG_DIR=""
CACHE_DIR=""
CHROMA_DIR=""

# wikipedia relevance
WIKI_DE_API=""
WIKI_EN_API=""
HEADER_AGENT=""
# HEADER_REFERER=""
# HEADER_ACCEPT=""
